# MARIADB CREDENTIALS
DB_HOST=your_db_host_here
DB_USER=your_db_user_here
DB_NAME=your_db_name_here

# WORDPRESS CREDENTIALS
WP_ADMIN_EMAIL=your_admin_email_here
WP_ADMIN_USER=your_admin_username_here
WP_USER_EMAIL=your_user_email_here
WP_USER=your_username_here
WP_USER_ROLE=your_user_role_here